.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}
.cart-widget{
  display: flex;
}
@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

nav{
  position: fixed!important;
  width: 100%;
  z-index: 10;
  background-color: rgb(27, 33, 66)!important;
  color: white;
}
.navbar-expand-lg .navbar-nav .nav-link {
  color: white!important;
  border: 1px solid white;
  background: darkcyan;
  border-radius: 15px;
  margin-left: 5px;
}
.navbar-nav{
  align-items: center;
}
.navbar-collapse{
  justify-content: flex-end;
}
.navbar-brand{
  color: aliceblue!important;
  display: flex;
  align-items: center;
}
.navbar-toggler{
  background-color: azure!important;
  position: absolute;
  top: 25px;
  right: 5px;
}
.banner{
  margin-top: 86px;
  width: 100%;
  height: 100vh;
}
.UserIcon{
  margin-left: 15px;
}
.container{
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
}
.cardContainer{
  max-width: 1059px;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.card{
  margin: 5px;
  width: 325px;
  border: 1px solid #614444;
  border-radius: 4px;
  padding: 10px;
  display: inline-block;
  vertical-align: top;
  box-sizing: border-box;
}
.card h1 {
  text-align: center;
  font-size: 2rem;
}
.card p {
  text-align: center;
}
.card img {
  cursor: pointer;
  max-width: 100%;
  height: 300px;
}
.card .valores{
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.valores button {
  display: block;
  width: 25%;
  padding: 8px;
  background-color: #b9b9b9;
  color: white;
  text-align: center;
  text-decoration: none;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  transition: background-color 0.3s;
}
@media (max-width: 768px) {
  .banner{
    height: 75vh;
  }
}
@media (max-width: 990px) {
  .navbar-expand-lg .navbar-nav .nav-link {
    margin-left: 0px;
    margin-top: 10px;
    margin-top: 10px;
  }
}
@media (max-width: 768px) {
  .banner{
    height: 30vh;
  }
  .cardContainer{
    justify-content: center;
  }
}
@media (max-width: 425px) {
  .card{
    width: 300px;
  }
  .UserIcon{
    margin-left: 0px;
  }
  
}